#vermelhoEscuro {
	color: darkred;
    font-weight: arial; 
    font-size: 20px;
}

#azulEscuro {
	color: darkblue;
    font-weight: arial; 
    font-size: 20px;

}

h2 {
    text-decoration: none; 
    font-size: 20px;   
}


a:link {
    text-decoration: none;
    font-size: 20px;
}  

a {
    color: seagreen; 
}

body {
    text-decoration: none; 
    font-size: 20px;   

}




